
@media screen and (max-width:991px){
    .text-car{
        height:300px;
    }

    

}

@media screen and (max-width:768px) {

    html{
        font-size: 14px;
    }

    .nd-img-large{
        display: none !important;
    }
    .nd-img-small{
        display: block !important;

    }

    #car-2-1img{

        #img1{
            background-image: url("../images/try-responsie.jpg") !important;
        }
        #img2{
            background-image: url("../images/carousel2-2-resize.jpg") !important;
        }
        #img3{
            background-image: url("../images/carousel2-3-responsive.jpg") !important;
            background-position-x: left !important;
        }
    }



    #car-ind{
    

        width:fit-content;
        margin:0px auto;



}
footer{
    i{
        font-size: 1.5rem;
    }
}

}


@media screen and (max-width:480px) {
    html{
        font-size: 12px;
    }
    
}