


@media screen and (max-width:768px) {


    .nd-img-large{
        display: none !important;
    }
    .nd-img-small{
        display: block !important;

    }
}

@media screen and (max-width:480px) {
    html{
        font-size: 12px;
    }
    
}