@import "variables";
@import "font";
@import "mixin";

*{
    padding:0px;
    margin:0px;
}
html{
    font-size: 16px;
}
a{text-decoration: none;
}
.bs {
    box-sizing: border-box  !important;
  }

header{
    nav{
        background-color: $blue;
        a{
            color:$gray !important;
            font-size: 1rem;
            h1{
                @include head();
                line-height: normal;
                margin:0px;
                font-weight: bold;
                letter-spacing: 0.2rem;
                font-size: 1.2rem;
            }
        }

        form#srch{
            button{
                color:$gray;
                outline: none;
            }
        }
    }

}

#carouselExampleIndicators{
    .nd-img-large{
        display: block;

    }
    .nd-img-small{
        display: none;
    }
    .carousel-inner{

        img{
            background-repeat: no-repeat;
        }
        
    }

}



#img-text{
    background-color: $darkGray;

    #text{
        p{
            margin:0px;
        }
        h2{
            @include head();
            font-size: 2.3rem;
            margin: 0px;
        }a{
            padding:0px !important;
            .btn{
                @include btn();
            }
            .btnnbg{
                @include nobgbtn();
                width:fit-content;
            }
        }

    }
    #img{
        img{
            width:60%;
        }
    }
}

@import "responsive";