@import "variables";
@import "font";
@import "mixin";

*{
    padding:0px;
    margin:0px;
}
/* GLOBAL CLASSES */
html{
    font-size: 16px;
}
a{text-decoration: none;
}
.bs {
    box-sizing: border-box  !important;
  }

.title{
    @include head();
}
.sub-title{
    @include head();
    font-size: 1.5rem;
}


.no-round{
border-radius: 0px;
}

@media  screen and (max-width:768px) {
    .no-round{
        border-radius: 0px !important;
    }
    
}

header{
    nav{
        background-color: $blue;
        a{
            color:$gray !important;
            padding:0px;
            font-size: 1rem;
            h1{
                @include head();
                line-height: normal;
                margin:0px;
                font-weight: bold;
                letter-spacing: 0.2rem;
                font-size: 1.2rem;
                color:$gray;
                img{
                    width: 50px;
                }
                span#logo-1{
                    font-size: 0.8rem;
                }
            }
        }

        form#srch{
            button{
                color:$gray;
                outline: none;
            }
        }
    }

}

#carouselExampleIndicators{
    .nd-img-large{
        display: block;

    }
    .nd-img-small{
        display: none;
    }
    .carousel-inner{

        img{
            background-repeat: no-repeat;
        }
        
    }
    .carousel-indicators{
        button{
            margin:0px 10px;
            width:10px;
            height:10px;
            background-color: $gray;
            border-radius: 50%;
        }

    }

}



#img-text{
    background-color: $darkGray;

    #text{
        p{
            margin:0px;
        }
        h2{
            @include head();
            font-size: 2.3rem;
            margin: 0px;
        }a{
            padding:0px !important;
            .btn{
                @include btn();
            }
            .btnnbg{
                @include nobgbtn();

            }
        }

    }
    #img{
        img{
            width:60%;
        }
    }
}

#plans{
    h2#planstit{
        @include head()
        
    }
    .plan{
        background-color: $darkGray;
        .i-tag{
            font-size: 3rem;
            top:5px;
            left: calc(100% - 15px);
            color:$blue;
            transform: rotate(30deg);
        }
        h3{
            @include head();
            font-size: 1.3rem;
            font-weight: normal;
            text-align: center;
        }
        hr{
            background-color: $darkGray;
            width: 80%;
            margin: 0 auto;
        }
    h2{
        text-align: center;
        @include head();

    }
    div#note{
        p{
            text-align: center;
            margin-bottom: 0px;
            i{
                font-style:normal;
            }
        }
        p.price{
            font-size: 1.5rem;
            color:$blue;
            width:calc(40% - 1px);
            i{
                font-size: 0.9rem;
            }
        }
        div.devide{
            height:20px;
            background-color: $blue;
            width:1px;
        }
        p.cond{
            width:calc(40% - 1px);
            font-size:0.7rem;
        }
    
    }
    p{
        text-align: center;
        a{
            @include btn();
            &:nth-child(2){
                @include nobgbtn();
            }
        }
    }

}
}


#email{
    background-color: $darkGray;

    h3{
        @include head();
    }
    #newsletter{
        width: 100%;
        border-radius: 1.4rem;
        height:40px;
    }
    #submit{
        width:100px;
        height:40px;
        right:0px;
        top:0px;
        border-radius: 1.4rem;
        background-color:$blue;
        color:$gray;
        border:0px;
    }
}


#carousel-benefits{
    background-color: $darkGray;


        .carousel-indicators{
            button{
                margin:0px 10px;
                width:10px;
                height:10px;
                background-color: $gray;
                border-radius: 50%;
            }
    
        }
    
    .carousel-inner{

        .carousel-item{
            height:100%;
            p.learn-more{
                bottom: 0px;
                left:0px;
                a{
                    @include nobgbtn($gray);
                }
            }

            .img{
                width:100%;

            }
            #img1{
                background-image: url("../images/try-resize.jpg") ;
                background-position: center center;
                background-repeat: no-repeat;

                background-size: cover;
                height:400px;
            }
            #img2{
                background-image: url("../images/carousel2-2.jpg") ;
                background-position: center center;
                background-repeat: no-repeat;

                background-size: cover;
                height:400px;
            }
            #img3{
                background-image: url("../images/carousel2-3.jpg") ;
                background-position: center center;
                background-repeat: no-repeat;

                background-size: cover;
                height:400px;
            }
            .car-1{
                background-color: $purple;
                color:$gray;
            }
            .car-2{
                background-color: $blue;
                color:$gray;

            }
            .car-3{
                background-color: $purple;
                color:$gray;

            }
        }
    }
}



#phone-holder{
    h2{
        @include head();
    }
    background-color: $darkGray;
    @for $i from 0 through 3 {
        #img#{$i}{
        background-position-x: $i*198px ;
        $i:$i+1;

    }
}
    .img{
        width:198px;
        height:400px;
        background-image: url("../images/css_sprite.png");
        background-size: cover
    }
    p{
        i{
            font-size: 1rem;
            
        }
    }

    .phone-width{
        width: 60%;
        margin:0 auto;

    }



}





footer{
    background-color: $blue;
    color:$gray;
    .catch-ico{
        a{
            color:$gray;

        i{
            font-size: 2rem;
            
        }        }
    }
    .round-none{
        border-radius: 0px !important;
    }
    p{
        a{
            color:$gray;
        }
    }
    a{
        h1{

            @include head();
            line-height: normal;
            margin:0px;
            font-weight: bold;
            letter-spacing: 0.2rem;
            font-size: 2rem;
            color:$gray;
            span{
                font-size: 1.6rem;
            }
        }
    }
    .acc-catch{
        a{
            color:$black;
        }
    }
}





#mobile-offer{
    .card{
        &:hover{
            box-shadow: 0px 0px 15px 5px $darkGray;
        }
        .title{
            font-size: 1.2rem;
            border-radius: 5px 0px 20px 0px;
            padding:1rem 0.7rem;
            color:$gray;
            background-color: $blue;
            margin:0px;
             
        }
        h5{
            font-size: 1rem;
            margin:0px !important;
        }
        .card-title{
            text-align: center;
        }
        .btn-primary{
            background-color: $blue !important;
        }
        .btn{
            @include btn();
        }
        .button-holder{

            i{
                font-size: 2rem;
            }
            width:100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            bottom:0px;
            left:0px;
        }
    }
    $niz :0px, -137px, -277px, -419px;
    $i:1;
    @each $element in $niz{
        .slika-#{$i}{
            width:228px;
            background-position: $element 0px;
            $i:$i+1;
    
        }}

        $niz2:137px,140px,142px,146px;
        $j:1;
        @each $element in $niz2{
            .slika-#{$j}{
                width:$element !important;
                $j:$j+1;
        } 
    }
    .slika{

        transform-origin: center;
        transform:scale(0.9);
        height:300px;
        background-image: url("../images/phone/ponuda1.png");

        
    }
}











/* MODALS */





@import "responsive";