/* Font Dois - used in titles and logo */
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
/* Plans */
@font-face {
  font-family: Font;
  src: url("../font/coolvetica compressed hv.otf");
}
/* LINK STYLE */
/*



TEMPLATE



               <div class="borderr">
               <div class="red"></div>
</div>




                */
.circle, .white, .gray, .cyan, .pink, .yellow, .blue, .red, .purple {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  padding: 2px;
  border-radius: 50%;
}

.wrap {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.purple {
  background-color: #26004d;
  background-image: radial-gradient(at 15% 93%, hsl(222, 85%, 54%) 0, hsla(222, 85%, 54%, 0) 50%), radial-gradient(at 43% 11%, hsl(258, 86%, 70%) 0, hsla(258, 86%, 70%, 0) 50%);
  border-radius: 50%;
}

.borderr {
  padding: 2px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 15px;
}
.borderr:hover {
  border: 1px solid black;
}

.red {
  background-color: #fd1c1c;
  background-image: radial-gradient(at 33% 38%, hsl(19, 95%, 61%) 0, hsla(19, 95%, 61%, 0) 50%);
}

.blue {
  background-color: #003e8f;
  background-image: radial-gradient(at 99% 78%, hsl(219, 91%, 59%) 0, hsla(219, 91%, 59%, 0) 50%);
}

.yellow {
  background-color: #f2d726;
  background-image: radial-gradient(at 12% 27%, hsl(39, 93%, 52%) 0, hsla(39, 93%, 52%, 0) 50%);
}

.pink {
  background-color: #e224f0;
  background-image: radial-gradient(at 50% 13%, hsl(50, 86%, 59%) 0, hsla(50, 86%, 59%, 0) 50%);
}

.cyan {
  background-color: #24d8f0;
  background-image: radial-gradient(at 10% 84%, hsl(94, 92%, 70%) 0, hsla(94, 92%, 70%, 0) 50%);
}

.gray {
  background-color: hsl(0, 0%, 0%);
  background-image: radial-gradient(at 54% 67%, hsl(343, 0%, 0%) 0px, transparent 50%), radial-gradient(at 17% 55%, hsl(13, 64%, 91%) 0px, transparent 50%), radial-gradient(at 100% 100%, hsl(355, 100%, 93%) 0px, transparent 50%);
}

.white {
  background-color: hsl(0, 0%, 100%);
  background-image: radial-gradient(at 61% 15%, hsl(75, 0%, 70%) 0px, transparent 50%), radial-gradient(at 29% 73%, hsla(0, 0%, 0%, 0.59) 0px, transparent 50%), radial-gradient(at 83% 71%, hsl(0, 0%, 76%) 0px, transparent 50%);
}

* {
  padding: 0px;
  margin: 0px;
}

/* GLOBAL CLASSES */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.bs {
  box-sizing: border-box !important;
}

.title {
  font-family: "Prompt", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.sub-title {
  font-family: "Prompt", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.bg-gray {
  background-color: #f4f4f4;
}

.bg-lgray {
  background-color: #fefefe;
}

.no-round {
  border-radius: 0px;
}

@media screen and (max-width: 768px) {
  .no-round {
    border-radius: 0px !important;
  }
}
header nav {
  background-color: #003F73;
}
header nav a {
  color: #fefefe !important;
  padding: 0px;
  font-size: 1rem;
}
header nav a h1 {
  font-family: "Prompt", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: normal;
  margin: 0px;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  color: #fefefe;
}
header nav a h1 img {
  width: 50px;
}
header nav a h1 span#logo-1 {
  font-size: 0.8rem;
}
header nav form#srch input {
  border-radius: 50px;
}
header nav form#srch .fa-magnifying-glass {
  color: #fefefe;
}
header nav button {
  border: 0px !important;
}
header nav span.navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") ;
}

#carouselExampleIndicators .nd-img-large {
  display: block;
}
#carouselExampleIndicators .nd-img-small {
  display: none;
}
#carouselExampleIndicators .carousel-inner img {
  background-repeat: no-repeat;
}
#carouselExampleIndicators .carousel-indicators {
  margin-bottom: 0px;
}
#carouselExampleIndicators .carousel-indicators button {
  margin: 0px 10px;
  width: 10px;
  height: 10px;
  background-color: #fefefe;
  border-radius: 50%;
}

#img-text {
  background-color: #f4f4f4;
}
#img-text #text p {
  margin: 0px;
}
#img-text #text h2 {
  font-family: "Prompt", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  font-size: 2.3rem;
  margin: 0px;
}
#img-text #text a {
  padding: 0px !important;
}
#img-text #text a .btn {
  padding: 0.7rem;
  font-size: 1rem;
  background-color: #003F73;
  color: #fefefe;
  border-radius: 1.4rem;
  text-align: center;
}
#img-text #text a .btnnbg {
  border: 1px solid #003F73;
  padding: 0.7rem;
  font-size: 1rem;
  background-color: transparent;
  color: #003F73;
  border-radius: 1.4rem;
  text-align: center;
}
#img-text #img img {
  width: 60%;
}

#plans h2#planstit {
  font-family: "Prompt", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
#plans .plan {
  background-color: #f4f4f4;
}
#plans .plan .i-tag {
  font-size: 3rem;
  top: 5px;
  left: calc(100% - 15px);
  color: #003F73;
  transform: rotate(30deg);
}
#plans .plan h3 {
  font-family: "Prompt", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  font-size: 1.3rem;
  font-weight: normal;
  text-align: center;
}
#plans .plan hr {
  background-color: #f4f4f4;
  width: 80%;
  margin: 0 auto;
}
#plans .plan h2 {
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
#plans .plan div#note p {
  text-align: center;
  margin-bottom: 0px;
}
#plans .plan div#note p i {
  font-style: normal;
}
#plans .plan div#note p.price {
  font-size: 1.5rem;
  color: #003F73;
  width: calc(40% - 1px);
}
#plans .plan div#note p.price i {
  font-size: 0.9rem;
}
#plans .plan div#note div.devide {
  height: 20px;
  background-color: #003F73;
  width: 1px;
}
#plans .plan div#note p.cond {
  width: calc(40% - 1px);
  font-size: 0.7rem;
}
#plans .plan p {
  text-align: center;
}
#plans .plan p a {
  padding: 0.7rem;
  font-size: 1rem;
  background-color: #003F73;
  color: #fefefe;
  border-radius: 1.4rem;
  text-align: center;
}
#plans .plan p a:nth-child(2) {
  border: 1px solid #003F73;
  padding: 0.7rem;
  font-size: 1rem;
  background-color: transparent;
  color: #003F73;
  border-radius: 1.4rem;
  text-align: center;
}

#email {
  background-color: #f4f4f4;
}
#email h3 {
  font-family: "Prompt", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
#email #newsletter {
  width: 100%;
  border-radius: 1.4rem;
  height: 40px;
}
#email #submit {
  width: 100px;
  height: 40px;
  right: 0px;
  top: 0px;
  border-radius: 1.4rem;
  background-color: #003F73;
  color: #fefefe;
  border: 0px;
}

#carousel-benefits {
  background-color: #f4f4f4;
}
#carousel-benefits .carousel-indicators button {
  margin: 0px 10px;
  width: 10px;
  height: 10px;
  background-color: #fefefe;
  border-radius: 50%;
}
#carousel-benefits .carousel-inner .carousel-item {
  height: 100%;
}
#carousel-benefits .carousel-inner .carousel-item p.learn-more {
  bottom: 0px;
  left: 0px;
}
#carousel-benefits .carousel-inner .carousel-item p.learn-more a {
  border: 1px solid #fefefe;
  padding: 0.7rem;
  font-size: 1rem;
  background-color: transparent;
  color: #fefefe;
  border-radius: 1.4rem;
  text-align: center;
}
#carousel-benefits .carousel-inner .carousel-item .img {
  width: 100%;
}
#carousel-benefits .carousel-inner .carousel-item #img1 {
  background-image: url("../images/try-resize-min.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
#carousel-benefits .carousel-inner .carousel-item #img2 {
  background-image: url("../images/carousel2-2-min.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
#carousel-benefits .carousel-inner .carousel-item #img3 {
  background-image: url("../images/carousel2-3-min.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
#carousel-benefits .carousel-inner .carousel-item .car-1 {
  background-color: #3c1685;
  color: #fefefe;
}
#carousel-benefits .carousel-inner .carousel-item .car-2 {
  background-color: #003F73;
  color: #fefefe;
}
#carousel-benefits .carousel-inner .carousel-item .car-3 {
  background-color: #3c1685;
  color: #fefefe;
}

/**********************************************/
#phone-holder {
  background-color: #f4f4f4;
}
#phone-holder h2 {
  font-family: "Prompt", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
#phone-holder #img0 {
  background-position-x: 0px;
}
#phone-holder #img1 {
  background-position-x: 198px;
}
#phone-holder #img2 {
  background-position-x: 396px;
}
#phone-holder #img3 {
  background-position-x: 594px;
}
#phone-holder .img {
  width: 198px;
  height: 400px;
  background-image: url("../images/css_sprite-min.png");
  background-size: cover;
}
#phone-holder p i {
  font-size: 1rem;
}
#phone-holder .col-12 {
  margin: 0px auto;
}
#phone-holder .col-12 a {
  display: block;
  width: 100%;
  margin: 15px auto;
  border: 1px solid #003F73;
  padding: 0.7rem;
  font-size: 1rem;
  background-color: transparent;
  color: #003F73;
  border-radius: 1.4rem;
  text-align: center;
  margin-bottom: 0px;
}
#phone-holder .phone-width {
  width: 60%;
  margin: 0 auto;
}

footer {
  background-color: #003F73;
  color: #fefefe;
}
footer .catch-ico a {
  color: #fefefe;
}
footer .catch-ico a i {
  font-size: 2rem;
}
footer .round-none {
  border-radius: 0px !important;
}
footer p a {
  color: #fefefe;
}
footer a h1 {
  font-family: "Prompt", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: normal;
  margin: 0px;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  color: #fefefe;
}
footer a h1 span {
  font-size: 1.6rem;
}
footer .acc-catch {
  border-radius: 0px !important;
}
footer .acc-catch .accordion-header {
  border-color: #003F73;
  background-color: #003F73 !important;
  border-radius: 0px !important;
  --bs-accordion-border-width:0px;
  --bs-accordion-btn-focus-border-color:$blue;
  --bs-accordion-btn-focus-box-shadow:none;
}
footer .acc-catch .accordion-item {
  border: 0px !important;
  border-bottom: 2px solid #fefefe !important;
  border-radius: 0px !important;
  background-color: #003F73 !important;
  color: #fefefe !important;
}
footer .acc-catch a {
  color: #fefefe;
}
footer .acc-catch button {
  background-color: #003F73 !important;
  color: #fefefe !important;
  text-transform: uppercase;
  font-family: "Prompt", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  font-size: 1rem;
  font-weight: normal;
  border-radius: 0px !important;
}
footer .acc-catch button::after {
  color: #fefefe;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
footer .acc-catch button:not(.collapsed)::after {
  transform: rotate(-180deg) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#mp_title {
  font-family: "Prompt", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

#mobile-offer .card .wrap {
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 10px;
}
#mobile-offer .card:hover {
  box-shadow: 0px 0px 15px 5px #f4f4f4;
}
#mobile-offer .card .title {
  font-size: 1.2rem;
  border-radius: 5px 0px 20px 0px;
  padding: 1rem 0.7rem;
  color: #fefefe;
  background-color: #003F73;
  margin: 0px;
}
#mobile-offer .card h5 {
  font-size: 1rem;
  margin: 0px !important;
}
#mobile-offer .card .card-title {
  text-align: center;
}
#mobile-offer .card .btn-primary {
  background-color: #003F73 !important;
}
#mobile-offer .card .btn {
  padding: 0.7rem;
  font-size: 1rem;
  background-color: #003F73;
  color: #fefefe;
  border-radius: 1.4rem;
  text-align: center;
}
#mobile-offer .card .button-holder {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0px;
  left: 0px;
}
#mobile-offer .card .button-holder i {
  font-size: 2rem;
}
#mobile-offer .slika-1 {
  width: 228px;
  background-position: 0px 0px;
}
#mobile-offer .slika-2 {
  width: 228px;
  background-position: -137px 0px;
}
#mobile-offer .slika-3 {
  width: 228px;
  background-position: -277px 0px;
}
#mobile-offer .slika-4 {
  width: 228px;
  background-position: -419px 0px;
}
#mobile-offer .slika-1 {
  width: 137px !important;
}
#mobile-offer .slika-2 {
  width: 140px !important;
}
#mobile-offer .slika-3 {
  width: 142px !important;
}
#mobile-offer .slika-4 {
  width: 146px !important;
}
#mobile-offer .slika {
  transform-origin: center;
  transform: scale(1);
  height: 300px;
  background-image: url("../images/phone/ponuda1.png");
}
#mobile-offer .slika-5 {
  width: 139px !important;
}
#mobile-offer .slika-6 {
  width: 148px !important;
}
#mobile-offer .slika-7 {
  width: 139px !important;
}
#mobile-offer .slika-8 {
  width: 137px !important;
}
#mobile-offer .slika-5 {
  background-position: -137px 0px;
}
#mobile-offer .slika-6 {
  background-position: -415px 0px;
}
#mobile-offer .slika-7 {
  background-position: -276px 0px;
}
#mobile-offer .slika-8 {
  background-position: 0px 0px;
}
#mobile-offer .slikaa {
  transform-origin: center;
  transform: scale(0.9);
  height: 300px;
  background-image: url("../images/phone/ponuda3.png");
}
#mobile-offer .slikaa-home .slikaa-0 {
  background-position-x: 0px;
}
#mobile-offer .slikaa-home .slikaa-1 {
  background-position-x: -148px;
}
#mobile-offer .slikaa-home .slikaa-2 {
  background-position-x: -296px;
}
#mobile-offer .slikaa-home .slikaa-3 {
  background-position-x: -444px;
}
#mobile-offer .slikaa-home .img {
  width: 148px;
  height: 300px;
  background-image: url("../images/phone/css_spriteresized.png");
  background-size: cover;
  transform: scale(0.9);
}

.card-info {
  justify-content: flex-start;
}
.card-info p {
  color: #212529;
  margin-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-right: 1px solid rgb(71, 71, 71);
}
.card-info p:first-child {
  margin-left: 0px;
}
.card-info p:last-child {
  border-right: none;
}

/* AUTHOR */
#autor {
  height: 800px;
}
#autor img {
  width: 500px;
  height: 500px;
}
#autor div {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
#autor div p {
  font-size: 5rem;
}
#autor div p.a {
  font-size: 4rem;
}

/*        CONTACT        */
#contact {
  background-color: #f4f4f4;
}
#contact .btn-primary {
  background-color: #003F73;
}

#location {
  background-color: #f4f4f4;
}

/* MODALS */
@media screen and (max-width: 991px) {
  .text-car {
    height: 300px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .nd-img-large {
    display: none !important;
  }
  .nd-img-small {
    display: block !important;
  }
  #car-2-1img #img1 {
    background-image: url("../images/try-responsie.jpg") !important;
  }
  #car-2-1img #img2 {
    background-image: url("../images/carousel2-2-resize.jpg") !important;
  }
  #car-2-1img #img3 {
    background-image: url("../images/carousel2-3-responsive.jpg") !important;
    background-position-x: left !important;
  }
  #car-ind {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0px auto;
  }
  footer i {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */