@import "variables";
@import "font";
@import "mixin";

*{
    padding:0px;
    margin:0px;
}
html{
    font-size: 16px;
}
a{text-decoration: none;
}
.bs {
    box-sizing: border-box  !important;
  }

header{
    nav{
        background-color: $blue;
        a{
            color:$gray !important;
            font-size: 1rem;
            h1{
                @include head();
                line-height: normal;
                margin:0px;
                font-weight: bold;
                letter-spacing: 0.2rem;
                font-size: 1.2rem;
            }
        }

        form#srch{
            button{
                color:$gray;
                outline: none;
            }
        }
    }

}

#carouselExampleIndicators{
    .nd-img-large{
        display: block;

    }
    .nd-img-small{
        display: none;
    }
    .carousel-inner{

        img{
            background-repeat: no-repeat;
        }
        
    }
    .carousel-indicators{
        button{
            margin:0px 10px;
            width:10px;
            height:10px;
            background-color: $gray;
            border-radius: 50%;
        }

    }

}



#img-text{
    background-color: $darkGray;

    #text{
        p{
            margin:0px;
        }
        h2{
            @include head();
            font-size: 2.3rem;
            margin: 0px;
        }a{
            padding:0px !important;
            .btn{
                @include btn();
            }
            .btnnbg{
                @include nobgbtn();
                width:fit-content;
            }
        }

    }
    #img{
        img{
            width:60%;
        }
    }
}

#plans{
    h2#planstit{
        @include head()
        
    }
    .plan{
        background-color: $darkGray;
        .i-tag{
            font-size: 3rem;
            top:5px;
            left: calc(100% - 15px);
            color:$blue;
            transform: rotate(30deg);
        }
        h3{
            @include head();
            font-size: 1.3rem;
            font-weight: normal;
            text-align: center;
        }
        hr{
            background-color: $darkGray;
            width: 80%;
            margin: 0 auto;
        }
    h2{
        text-align: center;
        @include head();

    }
    div#note{
        p{
            text-align: center;
            margin-bottom: 0px;
            i{
                font-style:normal;
            }
        }
        p.price{
            font-size: 1.5rem;
            color:$blue;
            width:calc(40% - 1px);
            i{
                font-size: 0.9rem;
            }
        }
        div.devide{
            height:20px;
            background-color: $blue;
            width:1px;
        }
        p.cond{
            width:calc(40% - 1px);
            font-size:0.7rem;
        }
    
    }
    p{
        text-align: center;
        a{
            @include btn();
            &:nth-child(2){
                @include nobgbtn();
            }
        }
    }

}
}


#email{
    background-color: $darkGray;

    h3{
        @include head();
    }
    #newsletter{
        width: 100%;
        border-radius: 1.4rem;
        height:40px;
    }
    #submit{
        width:100px;
        height:40px;
        right:0px;
        top:0px;
        border-radius: 1.4rem;
        background-color:$blue;
        color:$gray;
        border:0px;
    }
}


#carousel-benefits{
    background-color: $darkGray;


        .carousel-indicators{
            button{
                margin:0px 10px;
                width:10px;
                height:10px;
                background-color: $gray;
                border-radius: 50%;
            }
    
        }
    
    .carousel-inner{

        .carousel-item{
            height:100%;
            .img{
                width:100%;

            }
            #img1{
                background-image: url("../images/try-resize.jpg") ;
                background-position: center center;
                background-repeat: no-repeat;

                background-size: cover;
                height:400px;
            }
            #img2{
                background-image: url("../images/carousel2-2.jpg") ;
                background-position: center center;
                background-repeat: no-repeat;

                background-size: cover;
                height:400px;
            }
            #img3{
                background-image: url("../images/carousel2-3.jpg") ;
                background-position: center center;
                background-repeat: no-repeat;

                background-size: cover;
                height:400px;
            }
            .car-1{
                background-color: $purple;
                color:$gray;
            }
            .car-2{
                background-color: $blue;
                color:$gray;

            }
            .car-3{
                background-color: $purple;
                color:$gray;

            }
        }
    }
}


@import "responsive";